---
layout: base.njk
section: home
---
<div class="home-page">
	{# <div class="home-page__bg-square"></div> #}

  {# Hero #}
  {# test #}
  <img class="overlay" src="{{ '/assets/img/Hero_animation.gif' | url }}">
  <div class="hero">
    <div class="hero__col">
      {% image
        home.image,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image shadow",
        "eager"
      %}
    </div>
    <div class="hero__col">
      {# <h1 class="hero__title gradient-text">{{ home.title }}</h1> #}
      <h1 class="hero__title">{{ home.title }}</h1>
      {% if home.body %}
        <div class="hero__body">{{ home.body | markdown | safe }}</div>
      {% endif %}
    </div>
  </div>
  <div class="udesign">
  <p>
    <b>unitaryDESIGN</b> is a virtual event encouraging people to make contributions to the open source quantum ecosystem <b>through the lens of community engagement and science communication.</b> The event will run February 16-27, 2026, and hackers have the opportunity to win cash bounties! This is our inaugural run of unitaryDESIGN, and we’re excited to have you join us! 
    Read our <a href="{{ '/hacker-guide/' | url }}">hacker guide</a> and join our <a href="https://discord.com/invite/JqVGmpkP96">Discord server</a> if you have questions. 
  </p>
  <br>
  <p>We're looking forward to working with you. Make sure you register to be eligible to claim your bounties!</p>
  <a href="{{ '/register/' | url }}" class="button-reg">Register here</a>
  </div>
  <br/>

  {# Supporters #}
  <div class="udesign">
    <div class="list-header">
      <h2 class="list-header__title">Supporter</h2>
    </div>
    <p>unitaryDESIGN 2026 was made possible through a generous <a href="https://www.shiftgrants.org/">SHIFT Grant</a>. We are truly grateful to SHIFT as Unitary Foundaiton's current members (listed below) for their support in setting up this inaugural iteration of the program!    

    <b><a href="https://unitary.foundation/">Unitary Foundation</a> and its members</b>
    <ul>
      <li>
      <b>Core Members</b>:
        <a href="https://www.ibm.com/quantum">IBM Quantum</a>,
        <a href="https://dorahacks.io/">DoraHacks</a>, and
        <a href="https://openquantumdesign.org/">OQD</a>
      </li>
      <li>
        <b>Supporting Members</b>:
        <a href="https://aws.amazon.com/braket/">AWS</a>,
        <a href="https://www.microsoft.com/">Microsoft</a>,
        <a href="https://www.qcware.com/">QC Ware</a>,
        <a href="https://www.sandboxaq.com/">SandboxAQ</a>,
	<a href="https://www.quantum-machines.co/">Quantum Machines</a>
	<a href="https://www.riverlane.com/">Riverlane</a>
	<a href="https://orangeqs.com/">OrangeQS</a>
	<a href="https://www.mozillafoundation.org/en/">Mozilla Foundation</a>
	<a href="https://www.classiq.io/">Classiq</a>
      </li>
    </ul>
  </div>
