---
layout: base.njk
section: home
---
<div class="home-page">
  {# <div class="home-page__bg-square"></div> #}

  {# Hero #}
  {% block hero %}
  <div class="hero">
    <div class="hero__col">
      <img
       src="{{ '/assets/img/unitaryDESIGN.gif' | url }}"
       alt="{{ home.image_alt }}"
       class="hero__image shadow overlay"
       loading="eager"
       sizes="(min-width: 1024px) 50vw, 100vw"
      />
    </div>
    <div class="hero__col">
      <h1 class="hero__title">
        {% set words = home.title.split(' ') %}
        {% if words | length > 0 %}
          {{ words[0] }}
        {% endif %}

        {% if words | length > 1 %}
          <span class="highlight"> {{ words[1] }} </span>
       {% endif %}

       {% if words | length > 2 %}
         {% for w in words | slice(2) %}
           {{ w }}
          {% endfor %}
        {% endif %}
      </h1>


      {% if home.body %}
        <div class="hero__body">{{ home.body | markdown | safe }}</div>
      {% endif %}
    </div>
  </div>
  <div class="uhack">
    <p>
      <b>unitaryDESIGN</b> is a virtual event encouraging people to make contributions to the open source quantum ecosystem <b>through the lens of community engagement and science communication.</b>
      The event will run February 16-27, 2026, and participants have the opportunity to win cash bounties!
      This is our inaugural run of unitaryDESIGN, and we're excited to have you join us! 
      Read our <a href="{{ '/participant-guide/' | url }}">participant guide</a> and join our <a href="https://discord.com/invite/JqVGmpkP96">Discord server</a> if you have questions. 
    </p>
    <br>
    <p>We're looking forward to working with you. Make sure you register to be eligible to claim your bounties!</p>
    <a href="{{ '/register/' | url }}" class="button-reg">Register here</a>
  </div>
  <br/>
  {% endblock %}

  {# Supporters #}
  <div class="uhack">
    <div class="list-header">
      <h2 class="list-header__title">Supporters</h2>
    </div>
    <p>
      unitaryDESIGN 2026 was made possible through a generous <a href="https://www.shiftgrants.org/">SHIFT Grant</a>.
      We are truly grateful to SHIFT as well as <a href="https://unitary.foundation/">Unitary Foundation</a>'s current members (listed below) for their support in setting up this inaugural iteration of the program!    
    </p>

    <ul>
      <li>
        <b>Core Members</b>:
        <a href="https://www.ibm.com/quantum">IBM Quantum</a>,
        <a href="https://dorahacks.io/">DoraHacks</a>, and
        <a href="https://openquantumdesign.org/">OQD</a>
      </li>
      <li>
        <b>Supporting Members</b>:
        <a href="https://aws.amazon.com/braket/">AWS</a>,
        <a href="https://www.microsoft.com/">Microsoft</a>,
        <a href="https://www.qcware.com/">QC Ware</a>,
        <a href="https://www.sandboxaq.com/">SandboxAQ</a>,
        <a href="https://www.quantum-machines.co/">Quantum Machines</a>,
        <a href="https://www.riverlane.com/">Riverlane</a>,
        <a href="https://orangeqs.com/">OrangeQS</a>,
        <a href="https://www.mozillafoundation.org/en/">Mozilla Foundation</a>,
        <a href="https://www.classiq.io/">Classiq</a>
      </li>
    </ul>
  </div>
</div>
