---
permalink: /hacker-guide/index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<meta http-equiv="refresh" content="0; url=/participant-guide/">
<link rel="canonical" href="/participant-guide/">
